*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #5d3bee;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
}

/*Common*/
a {
  text-decoration: none;
}

button,
textarea,
input,
select {
  font-family: inherit;
}

.section-heading {
  color: #080415;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -1.44px;
  text-align: center;
}

.section-desc {
  margin-top: 20px;
  color: #51586a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.63;
}

.btn {
  min-width: 147px;
  height: 55px;
  background: var(--primary-color);

  color: #fdfdfd;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.88;

  outline: none;
  border: none;
}

.underline {
  position: relative;
}

.underline::after {
  position: absolute;
  left: 0;
  bottom: 8px;
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: #000;
}

.section-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.section-dot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background: #cecdd0;
  border-radius: 50%;
  line-height: 0;
}

.section-dot.active {
  width: 12px;
  height: 12px;
  background: var(--primary-color);
}

.section-dot.active::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
}

.section-logo-email {
  color: #080415;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.36;
}

.section-logo-email::after {
  bottom: 5px;
}

.off-on-mobile{
  display: none;
}

/*Header*/
.header {
  background: #fbfaff;
}

.header__container {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  margin: 0 4px;
  padding: 20px;
  border-bottom: 1px solid #d6d3e2;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-left: auto;
  order: 1;
}

.logo__img {
  width: 32px;
}

.header__logo-email {
  display: none;
}

.navbar-list-pc {
  display: none;
}

.navbar__img {
  width: 37px;
}

.menu {
  margin-left: 10px;
  order: 2;
}

.navbar__menu-btn {
  width: 32px;
}

.menu-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  visibility: hidden;
  transition:
    visibility 0.5s ease,
    background 0.5s ease;
}

.menu-check:checked ~ .menu-overlay {
  visibility: visible;
  background: rgba(0, 0, 0, 0.2);
}

.menu-drawer {
  position: fixed;
  inset: 0 0 0 20%;
  z-index: 10;
  padding: 50px 30px 30px;
  background: #fff;
  translate: 100%;
  transition: translate 0.5s ease;
}

.menu-check:checked ~ .menu-drawer {
  translate: 0;
}

.navbar-list__link {
  display: block;
  padding: 15px;
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
}

/*Hero*/
.hero {
  padding-top: 50px;
  background: #fbfaff;
}

.hero__info {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.hero__heading {
  width: 260px;
  color: #080415;
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1.68px;
}

.hero__cta {
  display: flex;
  align-items: center;
  column-gap: 40px;
  margin-top: 30px;
}

.hero__link {
  color: #080415;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.88;
}

.hero-social {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-top: 25px;
}

.hero-social__wrap {
  display: flex;
  column-gap: 20px;
}

.hero-social__wrap-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.hero-social__icon {
  font-size: 14px;
}

.hero__decor-pc {
  display: none;
}

.hero__media {
  position: relative;
  width: 259px;
  margin: 20px auto 0;
  overflow-y: clip;
}

.hero__img {
  position: relative;
  z-index: 1;
  display: block;
  width: inherit;
  height: inherit;
  margin: 0 auto;
  object-fit: cover;
}

.hero__decor {
  position: absolute;
  top: -50px;
  left: -140px;
}

/*Clients*/
.clients {
  padding-top: 120px;
}

.clients__heading {
  color: #080415;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.22; /* 121.429% */
  letter-spacing: -1.12px;
  width: 169px;
  margin: 0 auto;
}

.clients__wrap {
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 36px;
  margin-top: 42px;
}

/*Specialities*/
.specialities {
  padding-top: 120px;
}

.specialities__desc {
  padding: 0 5px;
  text-align: center;
}

.specialities__list {
  flex-wrap: nowrap;
  margin-top: 50px;
  overflow: hidden;
}

.specialities-item {
  padding: 29px 50px;
  background: #fbfaff;
}

.specialities-item__title {
  margin-top: 30px;
  color: #080415;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -1.12px;
}

.specialities-item__desc {
  margin-top: 10px;
  color: #51586a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.specialities__dots {
  margin-top: 30px;
}

/*Projects*/
.projects {
  margin-top: 120px;
  padding: 69px 0 60px;
  background: #5d3bee;
}

.projects__heading {
  color: #fff;
  width: 301px;
  text-align: center;
  margin: 0 auto;
}

.projects__desc {
  color: #fff;
  padding: 0 5px;
  text-align: center;
}

.projects__list {
  margin-top: 60px;
  row-gap: 20px;
}

.projects-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fbfaff;
  padding: 20px 15px;
}

.projects-item__title {
  color: #080415;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.42;
  letter-spacing: -0.96px;
}

.projects-item__desc {
  margin-top: 4px;
  color: #51586a;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.43;
  width: 176px;
}

.projects-item__link {
  display: inline-block;
  color: #080415;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.75;
  margin-top: 4px;
}

.projects-item__link::after {
  bottom: 3px;
}

.projects-item__img {
  position: relative;
  z-index: 1;
  width: 122px;
  height: 93px;
  object-fit: cover;
}

.projects-item__decor {
  position: absolute;
}

.projects-item__decor:nth-of-type(1) {
  top: 0;
  right: 0;
}

.projects-item__decor:nth-of-type(2) {
  top: 0;
  right: 40px;
}

.projects__wrap-btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.projects__btn {
  min-width: 154px;
  background: #fff;
  color: #080415;
}

/*Designer*/
.designer {
  margin-top: 120px;
}

.designer-header__wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.designer-header__sub-title {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.designer-header__text-sub-title,
.atmosphere__contract {
  color: #5d3bee;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: -0.8px;
}

.atmosphere__contract::after{
  left: 0;
  bottom: 10px;
  background: #5d3bee;
}


.designer__heading {
  margin-top: 10px;
}

.designer__desc {
  text-align: center;
  padding: 0 5px;
}

.designer-statistical {
  display: flex;
  justify-content: space-around;
  column-gap: 50px;
  margin-top: 50px;
  padding: 30px 16px;
  border-top: 1px solid #cecdd0;
  border-bottom: 1px solid #cecdd0;
}

.designer-statistical__number {
  display: inline-block;
  color: #080415;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.9px;
}

.designer-statistical__number::after {
  height: 2px;
  bottom: 6px;
}

.designer-statistical__desc {
  margin-top: 5px;
  color: #51586a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.38;
  width: 74px;
}

.designer-video {
  position: relative;
  margin-top: 40px;
  width: 100%;
  height: 276px;
}

.designer-video__avatar {
  position: relative;
  z-index: 1;
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.designer-video__play-btn,
.designer-video__btn {
  position: absolute;
}

.designer-video__play-btn {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 2;
}

.designer-video__btn {
  bottom: 10px;
  right: 10px;
  min-width: 118px;
  height: 44px;
  background: #fff;
  outline: none;
  border: none;
  z-index: 2;
  color: #51586a;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.5;
  text-transform: uppercase;
}
/*Reviews*/
.reviews {
  position: relative;
  margin-top: -111px;
  padding: 229px 0 67px;
  background: #fbfaff;
}

.reviews__desc {
  text-align: center;
  padding: 0 5px;
}

.reviews__list {
  display: flex;
  text-align: center;
  margin-top: 40px;
  overflow: hidden;
}

.reviews-item {
  flex: 1 0 auto;
  width: 100%;
}

.review-item__desc {
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.review-item__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 14px;
  margin-top: 48px;
}

.reviews-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f29764;
}

.reviews-avatar__img {
  position: relative;
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: inherit;
}

.reviews-avatar__name {
  color: #080415;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.67;
}

.review-item__desc--small {
  font-size: 1.6rem;
}

.reviews__dots {
  margin-top: 20px;
}

.reviews-decor {
  position: absolute;
}

.reviews-decor:nth-of-type(1) {
  bottom: 0;
  left: 0;
}

.reviews-decor:nth-of-type(2) {
  bottom: 0;
  right: 0;
}

/*Questions*/
.questions {
  margin-top: 120px;
}

.questions__heading {
  text-align: left;
  width: 316px;
}

.questions__list {
  margin-top: 40px;
}

.questions-item__wrap {
  display: flex;
  justify-content: space-between;
}

.questions-item {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
  padding: 40px 11px 0;
  border-bottom: 2px solid #08182f;
}

.questions-item__title {
  color: #080415;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.96px;
  width: 264px;
  margin-bottom: 15px;
}

.questions-item__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 2px solid #d0d1d2;
}

.questions-item__btn::before,
.questions-item__btn::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 11px;
  background: #161a1c;
}

.questions-item__btn::after {
  rotate: 90deg;
  left: 10px;
}

.questions-item__desc {
  position: relative;
  color: #51586a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.63;
  margin-bottom: 15px;
  width: 316px;
  translate: 0 -40%;
  display: none;
  transition: translate 0.3s ease;
}

[name="questions-item"]:checked + .questions__label-check > .questions-item {
  color: red;
  border-color: #5d3bee;
}

[name="questions-item"]:checked
  + .questions__label-check
  > .questions-item
  .questions-item__title {
  color: #5d3bee;
}

[name="questions-item"]:checked
  + .questions__label-check
  > .questions-item
  .questions-item__btn {
  border-color: #dfd8fc;
}

[name="questions-item"]:checked
  + .questions__label-check
  > .questions-item
  .questions-item__btn::after {
  display: none;
}

[name="questions-item"]:checked
  + .questions__label-check
  > .questions-item
  .questions-item__btn::before {
  background: #5d3bee;
}

[name="questions-item"]:checked
  + .questions__label-check
  .questions-item__desc {
  translate: 0 0;
  display: block;
}

/*Atmosphere*/
.atmosphere {
  margin-top: 120px;
}

.atmosphere__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.atmosphere__desc {
  text-align: center;
}

.atmosphere__list {
  display: flex;
  margin: 60px 0 40px;
  overflow: hidden;
}


.atmosphere-item__img {
  object-fit: cover;
  width: 100%;
  height: 503px;
}

/*Talk*/
.talk {
  position: relative;
  margin-top: 120px;
  padding: 35px 0;
  background: #fbfaff;
  overflow: hidden;
}



.talk__wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.talk__icon {
  width: 48px;
  height: 48px;
}


.talk__hading {
  width: 255px;
  margin-top: 10px;
}

.talk__desc {
  width: 350px;
  padding: 0 5px;
  text-align: center;
  margin-bottom: 20px;
}

.talk__decor {
  position: absolute;
  top: 0;
  left: 0;
}

.show-talk__decor {
  display: none;
}

/*Footer*/
.footer {
  margin-top: 50px;
  padding-bottom: 29px;
}

.footer-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.footer-top__logo {
  margin: 40px 0 0;
}

.footer-top__img {
  width: 44px;
}

.footer-top__list {
  display: flex;
  column-gap: 38px;
  margin-top: 40px;
}

.footer-top__item {
  color: #51586a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
}

.footer-bottom {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  margin-top: 57px;
}

.footer-bottom__item {
  position: relative;
  color: rgba(82, 87, 113, 0.6);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: -0.54px;
}

.footer-bottom__wrap {
  display: flex;
  column-gap: 36px;
}

.footer-bottom__wrap .footer-bottom__item:first-child::before {
  position: absolute;
  right: -30px;
  top: 14px;
  content: "";
  display: block;
  height: 1px;
  width: 14px;
  background: rgba(82, 87, 113, 0.6);
  rotate: 90deg;
}

.footer-bottom__line-on-mobile {
  height: 1px;
  width: 100%;
  margin: 29px 0 20px;
  background: #cecdd2;
}




